compras.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <xs:element name="getCompraRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="compra" type="tns:compra"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCompraResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                 <xs:element name="mensagem" type="xs:string"/>              
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="compra">
        <xs:sequence>
            <xs:element name="idCompra" type="xs:string"/>
            <xs:element name="numeroNotaFiscal" type="xs:string"/>
            <xs:element name="nomeProduto" type="xs:string"/>
             <xs:element name="quantidadeProduto" type="xs:string"/>         
            <xs:element name="valorCompra" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCompraRequest">
    <wsdl:part element="tns:getCompraRequest" name="getCompraRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompraResponse">
    <wsdl:part element="tns:getCompraResponse" name="getCompraResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="comprasPort">
    <wsdl:operation name="getCompra">
      <wsdl:input message="tns:getCompraRequest" name="getCompraRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCompraResponse" name="getCompraResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="comprasPortSoap11" type="tns:comprasPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCompra">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCompraRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompraResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="comprasPortService">
    <wsdl:port binding="tns:comprasPortSoap11" name="comprasPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>