vendas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <xs:element name="getVendaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="venda" type="tns:venda"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getVendaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                 <xs:element name="mensagem" type="xs:string"/>              
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="venda">
        <xs:sequence>
            <xs:element name="idVenda" type="xs:string"/>
            <xs:element name="numeroNotaFiscal" type="xs:string"/>
            <xs:element name="nomeProduto" type="xs:string"/>
             <xs:element name="quantidadeProduto" type="xs:string"/>         
            <xs:element name="valorVenda" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVendaRequest">
    <wsdl:part element="tns:getVendaRequest" name="getVendaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVendaResponse">
    <wsdl:part element="tns:getVendaResponse" name="getVendaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="vendasPort">
    <wsdl:operation name="getVenda">
      <wsdl:input message="tns:getVendaRequest" name="getVendaRequest">
    </wsdl:input>
      <wsdl:output message="tns:getVendaResponse" name="getVendaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vendasPortSoap11" type="tns:vendasPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVenda">
      <soap:operation soapAction=""/>
      <wsdl:input name="getVendaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVendaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vendasPortService">
    <wsdl:port binding="tns:vendasPortSoap11" name="vendasPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>